compute_environment: LOCAL_MACHINE
deepspeed_config:
 deepspeed_config_file: /mnt/workspace/project/llm/local_proj/llama_tune/lora_deepspeed/deepspeed_config.json
 zero3_init_flag: true
distributed_type: DEEPSPEED
fsdp_config: {}
machine_rank: 0
main_process_ip: null
main_process_port: null
main_training_function: main
mixed_precision: fp16
num_machines: 1
num_processes: 2
use_cpu: false